body {
    background: url('img/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    display: block;
}
.top_part {
    height: 90vh;
}
.user_info {
    margin-top: 10%;
}
.user_info li {
    vertical-align: middle;
}
.welcome {
    color: #fff;
}
.welcome h3 {
    margin-top: 0;
}
.quote blockquote {
    border-left: 0.5px solid rgb(238, 238, 238);
    font-size: 16px;
    color: #fff;
}
.Day_info {
    position: fixed;
    bottom: 100px;
}
.Day_info ul {
    text-align: center;
}
.weather_icon {
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 0;
    height: 0;
    color: rgb(255, 255, 255);
    font-weight: 100;
}
.weather_text {
    color: #fff;
    font-size: 18px;
}
.Day_info>h3 {
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}
.Day_info>p {
    color: white;
    font-size: 18px;
    line-height: 1.2;
}
/*Search Bar style starts from here*/

.top_search {
    width: 80%;
    margin: auto;
    padding-top: 40px;
}
.input-group {
    margin-bottom: 10px;
}
.input-group-addon {
    border: none;
}
.top_search .input-group-addon {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.2);
}
.input-group-addon:first-child,
.input-group,
.form-control:last-child {
    border: none;
    color: #fff;
}
/*Placeholder Colors*/

.form-control::-webkit-input-placeholder {
    color: #fff;
}
.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}
.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}
.form-control:-ms-input-placeholder {
    color: #fff;
}
.top_search .form-control {
    border-radius: 0;
    box-shadow: 0 0 0;
    background-color: rgba(255, 255, 255, 0.2);
}
.top_search button {
    border: 0;
    background: transparent;
}
/*Search Bar style ends here*/

.table-responsive {
    width: 80%;
    margin-top: 10px;
    margin: auto;
    border: none;
    color: #fff;
    background: rgba(76, 76, 76, 1);
    background: -moz-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 0.88) 12%, rgba(102, 102, 102, 0.75) 25%, rgba(71, 71, 71, 0.61) 39%, rgba(17, 17, 17, 0.4) 60%, rgba(0, 0, 0, 0.3) 70%, rgba(43, 43, 43, 0.21) 79%, rgba(28, 28, 28, 0.09) 91%, rgba(19, 19, 19, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76, 76, 76, 1)), color-stop(12%, rgba(89, 89, 89, 0.88)), color-stop(25%, rgba(102, 102, 102, 0.75)), color-stop(39%, rgba(71, 71, 71, 0.61)), color-stop(60%, rgba(17, 17, 17, 0.4)), color-stop(70%, rgba(0, 0, 0, 0.3)), color-stop(79%, rgba(43, 43, 43, 0.21)), color-stop(91%, rgba(28, 28, 28, 0.09)), color-stop(100%, rgba(19, 19, 19, 0)));
    background: -webkit-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 0.88) 12%, rgba(102, 102, 102, 0.75) 25%, rgba(71, 71, 71, 0.61) 39%, rgba(17, 17, 17, 0.4) 60%, rgba(0, 0, 0, 0.3) 70%, rgba(43, 43, 43, 0.21) 79%, rgba(28, 28, 28, 0.09) 91%, rgba(19, 19, 19, 0) 100%);
    background: -o-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 0.88) 12%, rgba(102, 102, 102, 0.75) 25%, rgba(71, 71, 71, 0.61) 39%, rgba(17, 17, 17, 0.4) 60%, rgba(0, 0, 0, 0.3) 70%, rgba(43, 43, 43, 0.21) 79%, rgba(28, 28, 28, 0.09) 91%, rgba(19, 19, 19, 0) 100%);
    background: -ms-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 0.88) 12%, rgba(102, 102, 102, 0.75) 25%, rgba(71, 71, 71, 0.61) 39%, rgba(17, 17, 17, 0.4) 60%, rgba(0, 0, 0, 0.3) 70%, rgba(43, 43, 43, 0.21) 79%, rgba(28, 28, 28, 0.09) 91%, rgba(19, 19, 19, 0) 100%);
    background: linear-gradient(to bottom, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 0.88) 12%, rgba(102, 102, 102, 0.75) 25%, rgba(71, 71, 71, 0.61) 39%, rgba(17, 17, 17, 0.4) 60%, rgba(0, 0, 0, 0.3) 70%, rgba(43, 43, 43, 0.21) 79%, rgba(28, 28, 28, 0.09) 91%, rgba(19, 19, 19, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
}
#whts_mind {
    width: 95%;
    margin: auto;
    overflow-y: visible;
}
#whts_mind>tbody>tr>th,
td {
    border-top: none;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.05);
}
#whts_mind>tbody>tr>td:first-child {
    width: 90%;
}
#whts_mind>tbody>tr>td:last-child {
    width: 10%;
    border-top: none;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.05);
}

.nav-tabs>li {
    width: 50%;
    text-align: center;
}
.nav-tabs>li.active>a {
    border-radius: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: none;
    border-bottom: none;
    color: #fff;
    background-color: transparent;
}
.nav-tabs>li.active>a:hover {
    color: #fff;
    border-bottom: none;
    border-right: none;
    background-color: transparent;
}
.nav-tabs>li>a {
    border-radius: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}
.nav-tabs>li>a:hover {
    background-color: transparent;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
}

.right_side_table>table>tr>td {
    border: none;
}

.table2>tbody>tr>td:first-child {
    width: 85%;
    background-color: rgba(255, 255, 255, 0.3);
    vertical-align: middle;
}
.table2>tbody>tr>td>span {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}
.table2 tbody>tr>td:last-child {
    width: 15%;
    background-color: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
}
.table2 tbody>tr>td {
    border-top: 1px solid transparent;
}
.table2 tbody>tr {
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

.Bottom_icons li img {
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, .5)));
    /* reflection is supported by webkit only */
    -webkit-transition: all 0.3s;
    -webkit-transform-origin: 50% 100%;
}
@media screen and (max-width: 992px) {
    .Day_info {
        display: none;
    }
}
@media screen and (max-width: 765px) {
    .user_info_full {
        text-align: center;
    }
}
@media screen and (min-width: 1920px) {
    body {
        width:80%;
        height: auto;
        margin:auto;
    }
    .top_part {
        height: 80vh;
        padding-top: 6%;
    }
    .Day_info {
    position: fixed;
    bottom: 220px;
}
}